body {
    background-color: lightblue
    !important;
}


.header {
    text-align: center;
    padding: 80px 0;
}

h2 h3 h4 {
  color: black;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
  }


.container {
    position: relative;
    text-align: center;
    color: white;
  }


.button {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: green;
  }


.alert {
    text-align: center;
}

.stop {
    color: red;
}

.m1 {
    position: absolute;
    top: 50%;
    left: 70%;
}

.m2 {
    position: absolute;
    top: 90%;
    left: 70%;
}

.m3 {
    position: absolute;
    top: 50%;
    left: 10%;
}

.m4 {
    position: absolute;
    top: 90%;
    left: 10%;
    p {
      font-size: 10px;
      margin-top: 15px;
      margin-bottom: 1rem;
    }
}




.eyes {
    color: black;
}


.box {
    width: auto;
    height: auto;
    position: absolute;
    top: 10%;
    left: 20%;

  }
  img {
    width: 100%;
  }
  p {
    color: white;
    font-size: 32px;
    margin: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    text-shadow: 2px 2px 5px red;
    }



.shade {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
  }


  #eye {
    background-color: red
    !important;
  }




.box_shine {
    width: auto;
    height: auto;
    position: absolute;
    top: 10%;
    left: 20%;

  }

  img {
    width: 500px;
    height: auto;
  }

  p {
    color: white;
    font-size: 32px;
    margin: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    text-shadow: 2px 2px 5px red;
    }





.box_dr {
    width: auto;
    height: auto;
    position: absolute;
    top: 10%;
    left: 20%;

  }

  img {
    width: 500px;
    height: auto;
  }

  p {
    color: white;
    font-size: 32px;
    margin: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    text-shadow: 2px 2px 5px red;
    }





.box_clock {
      width: auto;
      height: auto;
      position: absolute;
      top: 10%;
      left: 20%;

    }

    img {
      width: 500px;
      height: auto;
    }

    p {
      color: white;
      font-size: 32px;
      margin: 0;
      transform: translate(-50%,-50%);
      text-align: center;
      position: absolute;
      top: 100%;
      left: 50%;
      text-shadow: 2px 2px 5px red;
      }


